# E-Arşiv Fatura Webservisi
e-Arşiv servisi, e-arşiv mükellefinin fatura gönderimini sağlayan webservis uygulamasıdır.


## WSDL Endpoint Adresi

E-Arşiv Webservisine aşağıdaki adresten erişilmektedir:

Test Sistemi: [https://efaturatest.izibiz.com.tr/EIArchiveWS/EFaturaArchive?wsdl](https://efaturatest.izibiz.com.tr/EIArchiveWS/EFaturaArchive?wsdl)

Test Portal Adresimiz: [https://portaltest.izibiz.com.tr] (https://portaltest.izibiz.com.tr)

Test portali erişim bilgileri için **entegrasyon@izibiz.com.tr** adresi ile iletişime geçebilirsiniz.

## Dikkat Edilecek Hususlar
Uygulamanızı tasarlarken aşağıda ki bilgiler faydalı olacaktır:

* Login servisi ile giriş yaparak session id alınacak. Session Id sistemimiz tarafında 8 saate kadar zaman aşımına uğramadığı için kullanıcı giriş yapınca session id alıp bütün kullanım süresinde aynı session id kullanabilirsiniz. Portal tarafında sessionlar 30 dk timeout süresi bulunuyor.
* WriteToArchieveExtended servisi ile UBL formatlı e-arşiv faturası gönderilir.
* ReadFromArchive servisi ile faturanın ihtiyaç duyulan formatta alınır.
* CancelEArchiveInvoice servisi ile iptal edilen fatura GIB bildirilmek üzere gönderilir.
* GetEArchiveInvoiceStatus serivisi ile izibiz platformuna yüklemiş olduğunuz e-Arşiv faturasanın durumu , email durumu ve raporlanma durumunu sorgulayabilirsiniz.
* GetEArchiveReport servisi ile gelir idaresin raporlanan e-arşiv raporlarını dönemlik olarak çekebilirsiniz.
* ReadEArchiveReport serivisi ile gelir idaresinde gönderilen rapor detayını sorgulayabilirsiniz.
* GetEmailEarchiveInvoice servisi ile izibiz platformuna daha önceden yüklenen e-arşiv faturasının tekrardan mail gönderilmesini tetiklenmektedir
* E-Fatura ve E-Arşiv faturalarda farklı seri ile düzenlenmelidir.
* İnternet üzerinden yapılan satışlar için düzenlenen E-Arşiv faturaları ile diğer satışlardan (E-Fatura veya E-Arşiv) farklı serilerden düzenlenmesi zorunludur.
* UBL-TR olarak hazırlanan E-Arşiv faturaların ProfileId alanı EARSIVFATURA olarak yazılmalıdır.
* E-Arşiv faturalarda faturanın düzenlenme zamanı(IssueTime) alanı zorunludur.
* E-Arşiv faturalarda AdditionalDocumentReference alanında DocumentTypeCode ve DocumentType alanları zorunlu alandır.
* İnternet üzerinden yapılan satış için düzenlenen faturalar için Ödeme Şekli (PaymentMeans) ve Kargo bilgileri (Delivery) zorunludur.

## İstmeci (client) Örnek Projeler

E-Arşiv entegrasyonu için sunucu taraflı programlama diline uygun farklı istemci(client) örnekleri sunar. Bu istemcilerden programlama yapmak istediğiniz dile uygun olanı seçip sandbox(test) bilgileri ile kullanmaya başlayabilirsiniz.

<a href="/resource/client/izibiz-earsiv-dotnet-client.zip" target="_blank"><img src="/images/icon_dotnet.png"/></a>
<a href="/resource/client/izibiz-php-client.zip" target="_blank"><img src="/images/icon_php.png"/></a>
<a href="/resource/client/izibiz-earsiv-java-client.zip" target="_blank"><img src="/images/icon_java.png"/></a>


<%= partial "includes/efatura/faturasenaryolar" %>
## Ödeme Şekilleri
e-Arşiv ve e-Fatura ödeme paymentmeans tag’ini fatura içerisinde kullanıyorsanız bu alanın örnek kod’ları aşağıdaki gibidir.

KOD | AÇIKLAMASI
------ | ----------
48 | KREDIKARTI/BANKAKARTI
46 | EFT/HAVALE
10 | KAPIDAODEME
1 | Diğerleri

Diğer kodlar için aşağıdaki referanslardan yararlanabilirsiniz.
* Referans 1: http://www.unece.org/trade/untdid/d11a/tred/tred4461.htm
** Referans 2: https://www.stylusstudio.com/edifact/D01C/4461.htm

<%= partial "includes/earsiv/hatasonucu" %>
<%= partial "includes/efatura/ortak" %>
<%= partial "includes/earsiv/writetoarchiveextended" %>
<%= partial "includes/earsiv/readfromarchive" %>
<%= partial "includes/earsiv/getearchivestatus" %>
<%= partial "includes/earsiv/cancelinvoice" %>
<%= partial "includes/earsiv/resendemail" %>
<%= partial "includes/earsiv/getearchivereport" %>
<%= partial "includes/earsiv/readearchivereport" %>
