# E-Fatura Webservisi
e-Fatura servisi, e-fatura mükellefinin fatura gönderimini ve gelen faturaları kendisi sistemine çekmesini sağlayan webservis uygulamasıdır.

<%= partial "includes/ortak/url" %>
<%= partial "includes/efatura/testhesaplar" %>


## Dikkat Edilecek Hususlar
Uygulamanızı tasarlarken aşağıda ki bilgiler faydalı olacaktır:

1. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **Login** servisi ile oturum açarak session id alınacak. Session Id sistemimiz tarafında 8 saate kadar zaman aşımına uğramadığı için kullanıcı giriş yapınca session id alıp bütün kullanım süresinde aynı session id kullanabilirsiniz.
2. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **GetGibUserList** servisi ile GIB e-fatura mükellef listesini her 2 saatte özel entegratör platformundan çekmeniz gerekmektedir. Güncel listeyi çektikten sonra Cari listenizde ki firmaların e-fatura mükellefi olup olmadığını güncellemelisiniz.
3. E-Fatura Mükellefi olan firmalara kesilen faturaları UBL-TR formatına dönüştürerek (ekte örnek fatura bulunuyor) İzibiz sunucularına gönderebilirsiniz. Her fatura içerisinde faturanın görüntülenmesini sağlayan XSLT dokümanı olmalıdır.
4. **SendInvoice** metodu ile fatura gönderimi yapılacak. Gönderim esnasında eğer faturanın alıcısına ait birden fazla Posta Kutusu bulunuyorsa ekranda seçilerek gönderilmesi sağlanmalı. Sadece 1 adet PK adresi varsa seçim yapılmadan gönderim sağlanabilir.
5. **GetInvoiceStatus** metodu ile gelen/giden faturaların durumları sorgulanacak. Nihai duruma erişene kadar faturanın durumu İzibiz sunucularından minumum 4 saatte bir sorgulanmalıdır. **Sık sorgulama yapmayınız.**
6. **GetInvoice** metodu ile firmaya gelen faturalar müşteri bilgisayarına aktarılır. İzibiz sistemlerine gelen yeni faturaları almanız gerekmektedir. Servis ile yeni gelen en fazla 100 adet faturayı çekebilirsiniz. Eğer dönen listede 100 adet fatura varsa yeniden getinvoice servisi çağırılarak başka fatura olup olmadığı kontrol edilmelidir. Dönen listede 100den az fatura varsa tekrar sorgulama yapmaya gerek yoktur.
7. **MarkInvoice** metodu ile başarılı şekilde teslim alınan faturalar izibiz sistemlerinde okundu olarak işaretlenir. Böylece bir sonra ki getinvoice servisi çağrılınca dönülmez.
8. **SendInvoiceResponseWithServerSign** metodu ile gelen ticari bir faturaya kabul veya red yanıtı gönderebilirsiniz. Gelen bir faturaya 8 gün içerisinde kabul veya red gönderilebilir. **8 günü geçtikten sonra kabul/red yapılması engellenmelidir. Temel faturalar için yanıt gönderilmesi kısıtlanmalıdır.**
9. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **Logout** metodu ile kullanıcı e-fatura programını kapatınca veya sizin belirlediğiniz bir sürede oturumu kapatabilirsiniz.

## E-Fatura Entegrasyon Testleri
 Test  | Test Açıklama
 ---------- | ---------
Oturum Açma | Authetication webservi test senaryolarını inceleyiniz.
E-Fatura Mükellef Listesi Çekme |
Taslak Fatura Yükleme |
Temel Fatura Gönderme  | Fatura senaryoları bölümünden Temel fatura örnek faturayı indirip SendInvoice metodu ile gönderme.
Ticari Fatura Gönderme  | Fatura senaryoları bölümünden Temel fatura örnek faturayı indirip SendInvoice metodu ile gönderme.
İhracat Faturası Gönderme  | İhracat faturasını SendInvoice metodu ile gönderme.
İrsaliyeli Fatura Gönderme |
İmzalı Fatura Gönderme (İhtiyaç Varsa)|
7 Günden Geriye Fatura Düzenleme Kısıtlama| VUK’un 231/5. maddesinde faturanın 7 gün içersinde düzenlenmelidir. Bundan dolayı özel entegratör entegrasyon sistemi 7 günden geriye fatura düzenlenmesine izin vermemektedir. 7 günden geriye fatura düzenleyip gönderilir ve hata mesajı aldığı görülür.
7 Günden Geriye Fatura Düzenleme - Ayarı Açarak | VUK’un 231/5. maddesinde faturanın 7 gün içersinde düzenlenmelidir. Bundan dolayı özel entegratör entegrasyon sistemi 7 günden geriye fatura düzenlenmesine izin vermektedir.  Eğer mükellef gerçekten müteselsiliği bozacağını bilerek ve VUK göre oluşacak cezayı kabul ederek göndermek isterse Portal uygulamasında Sistem ayarları ekranından "Fatura Numaralarımı Otomatik Olarak Düzenle" seçeneğini kapatabilir. Bu durumda webservis müteselsillik kontrolü yapmayacaktır. Seçeneği açarak 7 gün geriye fatura gönderilebileceği test edilir. Not: Yapılan test sonrası ilgili seçeneği tekrar açınız.
Gelen Fatura Çekme | Yeni gelen faturaları çekme
Gelen Fatura Okundu İşaretleme |
Fatura Durum Sorgulama |
Gelen Temel Faturaya Yanıt Kısıtlaması  | Gelen Temel faturaya onay verilmesi engellenmelidir. Eğer istemci tarafından engellenmez ve webservise iste gönderilirse özel entegratör webservis tarafından engellenecektir.
Gelen Ticari Faturaya KABUL Yanıtı Gönderme  | Gelen ticari faturaya KABUL yanıtı SendInvoiceResponseWithServerSign metodu ile gönderilir. Yanıt ile beraber açıklama gönderilebileceği için ekran buna uygun olarak tasarlanmalıdır.
Gelen Ticari faturaya RET Yanıtı Gönderme  | Gelen TICARIFATURA senaryosunda ki bir faturaya RED yanıtı SendInvoiceResponseWithServerSign metodu ile gönderilir. İsteğe red sebebi eklenmesi zorunludur. Eğer ret sebebi gönderilmezse sistem Reddedildi açıklaması eklenecektir.
Üzerinden 8 Gün Geçmiş Ticari Faturaya Yanıt Kısıtlaması  | Gelen Ticari bir faturaya 8 gün içerisinde red yanıtı verilebilir. 8 gün geçtikten sonra ret yanıtı gönderilmesi kısıtlanmalıdır. 8 gün hesaplaması şu şekilde yapılır. GetInvoiceStatus servisi veya GetInvoice servisi ile dönülen faturanın sisteme ulaştığı tarih (CDATE) üzerine 8 gün eklenir ve bu tarihten sonra işlem yapılmasına izin verilmez. Kabul yanıtı her zaman verilebilir.



## İstemci (client) Örnek Projeler

E-Fatura entegrasyonu için sunucu taraflı programlama diline uygun farklı istemci(client) örnekleri sunar. Bu istemcilerden programlama yapmak istediğiniz dile uygun olanı seçip test bilgileri ile kullanmaya başlayabilirsiniz.

<a href="/resource/client/izibiz-efatura-dotnet-client.zip" target="_blank"><img src="/images/icon_dotnet.png"/></a>
<a href="/resource/client/izibiz-php-client.zip" target="_blank"><img src="/images/icon_php.png"/></a>
<a href="/resource/client/izibiz-efatura-java-client.zip" target="_blank"><img src="/images/icon_java.png"/></a>

## Fatura Sınıfı (InvoiceType) Nasıl Üretilir ?

.NET üzerinden XSD dosyasından sınıf üretmek için şu adımları uygulayınız:

1. http://www.efatura.gov.tr/dosyalar/kilavuzlar/UBL-TR1.2.1_Paketi.zip adresinden paket indirilir.
2. İndirilen dosya unzip edilir.
3. .Net Framework yüklü olan bir bilgisayarda **başlat>Developer Command Prompt** yazılır ve gelen seçenek tıklanarak komut dosyası açılır
4. 2.maddedeki unzip yapılan dizine **cd UNZIP_EDILEN_DIZIN** olarak gidilir.
5. Gelen ekranda aşağıdaki komutu yapıştırıyoruz.<br>
**xsd /c UBL-Invoice-2.1.xsd UBL-CommonExtensionComponents-2.1.xsd UBL-CommonBasicComponents-2.1.xsd UBL-UnqualifiedDataTypes-2.1.xsd UBL-CoreComponentParameters-2.1.xsd CCTS_CCT_SchemaModule-2.1.xsd UBL-CommonAggregateComponents-2.1.xsd**
6. Bu işlemin sonunda e-Fatura/E-Arşiv fatura oluşturmak için gerekli bütün sınıflar UBL-Invoice-2.1.cs dosyası içerisinde oluşturulacaktır.
7. Fatura **InvoiceType** sınıfı ile üretilmektedir.

<%= partial "includes/efatura/faturasenaryolar" %>
<%= partial "includes/ortak/requestheader" %>
<%= partial "includes/efatura/sendinvoice" %>
<%= partial "includes/efatura/loadinvoice" %>
<%= partial "includes/efatura/getinvoice" %>
<%= partial "includes/efatura/getinvoicewithtype" %>
<%= partial "includes/efatura/markinvoice" %>
<%= partial "includes/efatura/getinvoicestatus" %>
<%= partial "includes/efatura/sendinvoiceresponse" %>
<%= partial "includes/efatura/envelope" %>
<%= partial "includes/efatura/moved" %>
