# E-Fatura Webservisi
e-Fatura servisi, e-fatura mükellefinin fatura gönderimini ve gelen faturaları kendisi sistemine çekmesini sağlayan webservis uygulamasıdır.

<%= partial "includes/efatura/faturasenaryolar" %>
<%= partial "includes/ortak/url" %>
<%= partial "includes/efatura/testhesaplar" %>


## Dikkat Edilecek Hususlar
Uygulamanızı tasarlarken aşağıda ki bilgiler faydalı olacaktır:

1. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **Login** servisi ile oturum açarak session id alınacak. Session Id sistemimiz tarafında 8 saate kadar zaman aşımına uğramadığı için kullanıcı giriş yapınca session id alıp bütün kullanım süresinde aynı session id kullanabilirsiniz.
2. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **GetGibUserList** servisi ile GIB e-fatura mükellef listesini her 2 saatte özel entegratör platformundan çekmeniz gerekmektedir. Güncel listeyi çektikten sonra Cari listenizde ki firmaların e-fatura mükellefi olup olmadığını güncellemelisiniz.
3. E-Fatura Mükellefi olan firmalara kesilen faturaları UBL-TR formatına dönüştürerek (ekte örnek fatura bulunuyor) İzibiz sunucularına gönderebilirsiniz. Her fatura içerisinde faturanın görüntülenmesini sağlayan XSLT dokümanı olmalıdır.
4. **SendInvoice** metodu ile fatura gönderimi yapılacak. Gönderim esnasında eğer faturanın alıcısına ait birden fazla Posta Kutusu bulunuyorsa ekranda seçilerek gönderilmesi sağlanmalı. Sadece 1 adet PK adresi varsa seçim yapılmadan gönderim sağlanabilir.
5. **GetInvoiceStatus** metodu ile gelen/giden faturaların durumları sorgulanacak. Nihai duruma erişene kadar faturanın durumu özel entegratör sisteminden minumum 4 saatte bir sorgulanmalıdır. **Sık sorgulama yapmayınız.**
6. **GetInvoice** metodu ile firmaya gelen faturalar müşteri bilgisayarına aktarılır. İzibiz sistemlerine gelen yeni faturaları almanız gerekmektedir. Servis ile yeni gelen en fazla 100 adet faturayı çekebilirsiniz. Eğer dönen listede 100 adet fatura varsa yeniden getinvoice servisi çağırılarak başka fatura olup olmadığı kontrol edilmelidir. Dönen listede 100den az fatura varsa tekrar sorgulama yapmaya gerek yoktur. Fatura çekme zamanlayıcı ile yapılıyorsa en az 15 dk bir servis çağırılmalıdır.
7. **MarkInvoice** metodu ile başarılı şekilde teslim alınan faturalar izibiz sistemlerinde okundu olarak işaretlenir. Böylece bir sonra ki getinvoice servisi çağrılınca dönülmez.
8. **SendInvoiceResponseWithServerSign** metodu ile gelen ticari bir faturaya kabul veya red yanıtı gönderebilirsiniz.
9. Gelen bir faturaya 8 gün içerisinde kabul veya red gönderilebilir. **8 günü geçtikten sonra kabul/red yapılması engellenmelidir. Temel faturalar için yanıt gönderilmesi kısıtlanmalıdır.**
10. Ticari bir faturaya elektronik ortamda en fazla 1 adet yanıt gönderilebilir. Bundan dolayı bir faturaya başarıyla yanıt (kabul/red) gönderilmişse farklı bir yanıt gönderilmesi kısıtlanmalıdır.
11. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **Logout** metodu ile kullanıcı e-fatura programını kapatınca veya sizin belirlediğiniz bir sürede oturumu kapatabilirsiniz.

## E-Fatura Entegrasyon Kontrol Listesi
 Durum | Kontrol
 -------| ----------
**Evet / Hayır** | Oturum Açmak için **Kimlik Doğrulama (Authentication)** webservisinde ki **Login** metodu kullanıldı.
**Evet / Hayır** | Oturum açıldıktan sonra bütün isteklerde aynı Session ID kullanılıyor. Eğer Aktif session bulunamadı hatası dönülürse yeni oturum açılıyor.
**Evet / Hayır** | E-Fatura mükellef listesi çekmek için **Kimlik Doğrulama (Authentication)** webservisinde ki **GetGibUserList** metodu kullanılıyor.
**Evet / Hayır** | Gönderilen her istek ile REQUEST_HEADER objesinde ki `SESSION_ID` ve `APPLICATION_NAME` alanları dolu gönderiliyor.
**Evet / Hayır** | Fatura numarası ataması müteselsilliği sağlıyor.
**Evet / Hayır** | Her türlü fatura senaryosuna göre fatura **SendInvoice** metodu kullanılarak gönderildi (TEMEL, TICARI, IHRACAT, YOLCUBERABERI,SGK)
**Evet / Hayır** | Her türlü fatura tipinden örnek fatura gönderildi. (Satış, Iade, Tevkifat, Özel Matrah vs)
**Evet / Hayır** | Özel entegratöre iletilen faturalar için muhasebe paketi/ERP'de değişiklik yapılamıyor. Kayıt kitleniyor.
**Evet / Hayır** | Alıcı tarafında hata almış faturalar **aynı fatura numarası ama farklı ETTN** ile tekrar **SendInvoice** servisi kullanılarak gönderilebiliyor.
**Evet / Hayır** | 7 günden geriye fatura düzenlenemiyor.
**Evet / Hayır** | **GetInvoice** metodu kullanılarak yeni gelen bütün faturalar içerikleri ile beraber (XML) müşteri ortamına çekiliyor.
**Evet / Hayır** | Özel entegratörden fatura çekme özelliği ekranda bir butona değilde zamanlayıcı ile belirli aralıkta otomatik yapılıyorsa bu süre konfiguratif ve en az 15dk olarak belirlendi.
**Evet / Hayır** | Özel entegratörden fatura çekme ekranda bir buton ile kullanıcıya bırakıldıysa kullanıcı çok sık butona tıklasa bile 5 dakika da bir yapılıyor.
**Evet / Hayır** | Özel entegratörden **GetInvoice** metodu ile çekilen faturaların XMLleri (file sisteme veya veritabanına) kaydediliyor.
**Evet / Hayır** | Başarı ile kaydedilen faturalar için **MarkInvoice** kullanılarak alındı mesajı gönderildi.
**Evet / Hayır** | Alınan bütün faturalar için toplu alındı mesajı gönderilmek için **GetInvoice** metodu ile dönülen INVOICE listesi **MarkInvoice** metoduna parametre olarak gönderiliyorsa fatura içeriğinin (Base64Binary) bulunduğu `INVOICE.CONTENT` alanı boşaltılıyor. Böylece network trafik oluşturulması önleniyor.
**Evet / Hayır** | Faturaların durumu zamanlayıcı ile otomatik sorgulanıyorsa bu süre konfiguratif ve en az 4 saat olarak belirlendi.
**Evet / Hayır** | Nihai duruma ulaşmış **giden** faturaların (GetInvoiceStatus servisi ile dönülen SUBSTATUS parametresinin değeri `SUCCEED` veya `FAILED` ise) durumları sorgulanmıyor.
**Evet / Hayır** | **Gelen** temel faturaların durumları sorgulanmıyor.
**Evet / Hayır** | **Gelen** ticari faturaların durumları yanıt verildikten sonra sorugulanmaya başlanıyor ve GetInvoiceStatus servisi ile dönülen STATUS parametresinin değeri `SUCCEED` veya `FAILED` olana kadar sorgulanıyor.
**Evet / Hayır** | Alıcı sisteme ulaştıktan sonra üzerinden **8 gün geçmiş** gelen veya giden faturaların durumları sorgulanmıyor.
**Evet / Hayır** | Nihai duruma ulaşmamış faturalar için durum sorgulaması **GetInvoiceStatus** metodu ile yapılıyor.
**Evet / Hayır** | Durum sorgulaması yapılacak fatura birden fazla ise **GetInvoiceStatus** metodunda `UUID` parametresi çoklanarak tek bir istek ile yapılıyor. Yani her fatura için ayrı ayrı durum sorgulaması yapılmıyor.
**Evet / Hayır** | İhracat faturaların durumları sorgulanınca GTB numarası vs alınıp müşteriye gösteriliyor.
**Evet / Hayır** | Gelen temel fatura senaryosunda ki faturalara kabul veya ret yanıtı gönderilemiyor.
**Evet / Hayır** | Gelen ticari fatura senaryosunda ki faturalara kabul veya red yanıtı **SendInvoiceResponseWithServerSign** metodu ile gönderildi.
**Evet / Hayır** | Ret edilen ticari faturalar için red sebebi **mutlaka** gönderiliyor.
**Evet / Hayır** | Fatura görüntülemek için indirdilen fatura XML içerisinde ki XSLT ile transform edip HTML görüntüsünü oluşturuluyor.
**Evet / Hayır** | Kullanıcı uygulamayı kapattığında **Kimlik Doğrulama (Authentication)** webservisinde ki **Logout** metodu kullanarak oturum kapatıldı.


## İstemci (client) Örnek Projeler

E-Fatura entegrasyonu için sunucu taraflı programlama diline uygun farklı istemci(client) örnekleri sunar. Bu istemcilerden programlama yapmak istediğiniz dile uygun olanı seçip test bilgileri ile kullanmaya başlayabilirsiniz.

<a href="/resource/client/izibiz-efatura-dotnet-client.zip" target="_blank"><img src="/images/icon_dotnet.png"/></a>
<a href="/resource/client/izibiz-php-client.zip" target="_blank"><img src="/images/icon_php.png"/></a>
<a href="/resource/client/izibiz-efatura-java-client.zip" target="_blank"><img src="/images/icon_java.png"/></a>

## Fatura Sınıfı (InvoiceType) Nasıl Üretilir ?

.NET üzerinden XSD dosyasından sınıf üretmek için şu adımları uygulayınız:

1. http://www.efatura.gov.tr/dosyalar/kilavuzlar/UBL-TR1.2.1_Paketi.zip adresinden paket indirilir.
2. İndirilen dosya unzip edilir.
3. .Net Framework yüklü olan bir bilgisayarda **başlat>Developer Command Prompt** yazılır ve gelen seçenek tıklanarak komut dosyası açılır
4. 2.maddedeki unzip yapılan dizine **cd UNZIP_EDILEN_DIZIN** olarak gidilir.
5. Gelen ekranda aşağıdaki komutu yapıştırıyoruz.<br>
**xsd /c UBL-Invoice-2.1.xsd UBL-CommonExtensionComponents-2.1.xsd UBL-CommonBasicComponents-2.1.xsd UBL-UnqualifiedDataTypes-2.1.xsd UBL-CoreComponentParameters-2.1.xsd CCTS_CCT_SchemaModule-2.1.xsd UBL-CommonAggregateComponents-2.1.xsd**
6. Bu işlemin sonunda e-Fatura/E-Arşiv fatura oluşturmak için gerekli bütün sınıflar UBL-Invoice-2.1.cs dosyası içerisinde oluşturulacaktır.
7. Fatura **InvoiceType** sınıfı ile üretilmektedir.

<%= partial "includes/ortak/requestheader" %>
<%= partial "includes/efatura/sendinvoice" %>
<%= partial "includes/efatura/loadinvoice" %>
<%= partial "includes/efatura/getinvoice" %>
<%= partial "includes/efatura/getinvoicewithtype" %>
<%= partial "includes/efatura/markinvoice" %>
<%= partial "includes/efatura/getinvoicestatus" %>
<%= partial "includes/efatura/sendinvoiceresponse" %>
<%= partial "includes/efatura/envelope" %>
<%= partial "includes/efatura/moved" %>
